/*******************************************************************************
* userChrome.css
* Version: v0.1 | Last Updated: 2024-09-09 | Works with Firefox 110.0
*
* This is the main CSS file for personalising the Firefox chrome.
* Aimed to deliver a transformed browsing experience where every interaction 
* are moments of immersion and clarity that feels tailored, polished and smooth.
* See: https://github.com/heyakuzaki/thinkoukei-firefox
*
* Author: Shin Tamaki
* License: MPL-2.0
*******************************************************************************/
:root {
  --border-radius-large: 16px;
  --chrome-gap: 8px;
  --chrome-color: ActiveCaption;
  
  &:-moz-window-inactive {
    --chrome-color: InActiveCaption;
  }
}

/* ----- Navigator Toolbox ----- */
#navigator-toolbox {
  overflow: clip;
  max-height: var(--chrome-gap);/**/
  padding-top: var(--chrome-gap);
  border: none !important;
  transition: max-height 800ms ease-in-out 50ms, padding-top 50ms ease 550ms !important; /* add transition */
  
  &:focus,
  &:hover {
    max-height: 100vh;
    padding-top: initial;
    transition: max-height 700ms ease-in-out 0ms !important;
  }
}

/* ----- Tabs Toolbar -----*/
#tabbrowser-tabs {
  border: none !important;
}


/* ----- Nav Toolbar -----*/
#nav-bar{
  --toolbar-bgcolor: var(--chrome-color);
  padding: var(--space-small) 0 !important;
}

/* ----- URL Bar -----*/
#urlbar-container {
  justify-content: center;
}

#urlbar {
  width: 40vw !important;
  transition: width 150ms ease-in-out !important;
  
  #urlbar-background {
    border-radius: var(--border-radius-large) !important;
  }
  
  &[breakout-extend] {
    z-index: 999 !important;
    position: fixed !important;
    top: 96px !important;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 70vw !important;
    
    #urlbar-background {
      border-radius: var(--border-radius-large) !important; /**/
    }
    
    .urlbar-input-container {
      height: 4.5rem !important; /**/
      & > :is(box, image) {
        height: 100% !important;
      }
      #urlbar-input {
        font-size: 2.25rem !important;
      }
    }
  }
}

/* ----- Personal Toolbar -----*/
#PersonalToolbar {
  --toolbar-bgcolor: var(--chrome-color);
}


/* ----- Browser Content -----*/
#appcontent browser {
  border-radius: var(--border-radius-large) !important;
  border: 0.01px solid ThreeDShadow;
}

.browserContainer {
  background-color: var(--chrome-color);/**/
  padding: 0 var(--chrome-gap) var(--chrome-gap);
}
